#reset
{
   text-align: center;
   padding-top: 80px;
   padding-bottom: 20px;
}
#container
{
   display: grid;
   margin-right: auto;
   margin-left: auto;
   width: 600px;
   height: 600px;
}
#colorOptions
{
   text-align: center;
}
